.v-touchkit-verticalcomponentgroup .v-textfield.validation-red { 
	background-color: red; 
}

.v-button-styleid-FirstPageViewImplEx-impressumButton {
	font-size: 12px !important;
	width: 100px !important;
}